<ion-item [routerLink]="chat.group?'/chat/group/id/'+chat.id:'/chat/id/'+chat.id" detail="false">
  <ion-avatar slot="start">
    <img [src]="urlImg" class="no-disponible">
  </ion-avatar>
  <ion-label>
    <span class="agrupar">
      <span class="break">
        {{chat.title}}
      </span>
      <ion-text color="tertiary date">{{dateString?dateString:chat.timestamp | date: 'shortTime'}}</ion-text>
    </span>
    <ion-text color="tertiary" class="agrupar">
      <p class="break">{{chat.lastMessage}}</p>
    </ion-text>
  </ion-label>
</ion-item>
