<div class="fondo">
  <div></div>
</div>

<ion-content class="ion-padding" *ngIf="continuePhone">
  <firebase-ui
    [language]="language"
    (signInSuccessWithAuthResult)="checkUserState($event)"
  ></firebase-ui>

  <ion-item>
    <ion-label style="color:gray">{{'Global.Language' | translate}}</ion-label>
    <ion-select [(ngModel)]="language" value="en" (ionChange)="setLanguage()">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Español</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>

<ion-content fullscreen class="ion-padding mx" *ngIf="!continuePhone" >

  <div class="text-animation" >
    <div class="js-animation">
      <h1>{{'LoginPage.Title1' | translate}}</h1>
      <h1 class="d-none">{{'LoginPage.Title2' | translate}}</h1>
      <h1 class="d-none">{{'LoginPage.Title3' | translate}}</h1>
      <h1 class="d-none">{{'LoginPage.Title4' | translate}}</h1>
    </div>
  </div>

  <ion-button shape="round" expand="full" class="continue-btn" (click)="skipRegister()">
    {{'LoginPage.ContinueWithout' | translate}}
  </ion-button>

  <span class="d-center">
    <h6 class="loc__num-btn" (click)="continuePhone=true">{{'LoginPage.ContinueWithPhone' | translate}}</h6>
  </span>

  <span class="d-center">
    <small>{{'LoginPage.PrivacyPolicy' | translate}} <a href="https://docs.google.com/document/d/1XHJjxROjaA0F-ZO1wfhMDtM6noHxYip2F9bjKsXfFFc/edit?usp=sharing">{{'LoginPage.PrivacyPolicy2' | translate}}</a></small>
  </span>

  <div class="loc__centrar">
    <ion-item style="margin-top:2rem;">
      <ion-label style="color:gray">{{'Global.Language' | translate}}</ion-label>
      <ion-select [(ngModel)]="language" value="en" (ionChange)="setLanguage()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

</ion-content>

