<div class="fondo"></div>

<ion-content class="ion-padding">
  <ion-row class="mb-20 ion-justify-content-center ion-padding-top">
    <img
      src="../../../../assets/logo.png"
      alt="Logo"
      class="auth__logo"
    >
  </ion-row>

  <h1 class="ion-text-center mb-20">{{'RegisterPage.Login' | translate}}</h1>
  <form
    [formGroup]="miFormulario"
    action=""
    autocomplete="off"
    (ngSubmit)="enviar()"
  >
    <div
      color="primary"
      class="ion-padding-vertical sombra ion-padding auth__cont mb-20"
      style=" padding-top: 0rem; padding:1.5rem"
    >

      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label position="floating">{{ 'RegisterPage.EmailLabel' | translate }}</ion-label>
        <ion-input
          type="email"
          id="email"
          class="auth__input"
          [placeholder]="'RegisterPage.EmailPlaceholder' | translate"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="key" slot="start"></ion-icon>
        <ion-label position="floating">{{ 'RegisterPage.PasswordLabel' | translate }}</ion-label>
        <ion-input
            type="password"
            id="password"
            class="auth__input"
            [placeholder]="'RegisterPage.PasswordPlaceholder' | translate"
            formControlName="password"
          ></ion-input>
      </ion-item>
    </div>
    <ion-text color="secondary" class="ion-text-center auth__enlace" (click)="resetPassword()">
      Olvidé mi contraseña
    </ion-text><br>

    <ion-button
      expand="block"
      class="ion-text-capitalize"
      color="secondary"
      type="submit"
      routerLink="/"
    >{{'RegisterPage.Login' | translate}}</ion-button>

    <ion-text color="tertiary">
      <h4 class="ion-text-center">{{'RegisterPage.H4Text' | translate}}</h4>
    </ion-text>
    <a
      [routerLink]="['/auth/register']"
      class="ion-text-center auth__enlace"
    >{{'RegisterPage.SignIn' | translate}}</a>

  </form>
</ion-content>

