.chat__img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

ion-back-button {
  display: block;
  ion-icon{
    font-size: 37px;
  }
}

.loc_contac-info{
  display: flex;
  align-items: center;
  overflow: hidden;
  img{
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }

  h6{
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    flex:1;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}

.loc__content{
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 10px;
  --background:transparent;

  ion-card{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.loc__scroll{
  position: absolute;
}

app-item-message{
  width: 100%;
  float: right;
}

app-footer-chat{
  display: contents;
}
