<div class="fondo"></div>

<ion-header>
  <ion-toolbar style=" padding:0;" color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <span class="loc_contac-info">
      <img
        src="assets/person.jpg"
        class="chat__img "
      >
      <h6>Andrison Sánchez de</h6>
    </span>

    <ion-button slot="end" mode="ios" (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card
    *ngFor="let mensaje of mensajes"
    [class]="userName===mensaje.user?'enviado':''"
  >
    <ion-card-content>
      {{mensaje.message}}
      <ion-text color="tertiary">{{mensaje.timestamp.toDate() | date: 'shortTime'}}</ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="chat__footer">
  <form [formGroup]="miFormulario" style="display: contents;">
    <ion-toolbar class="loc_toolbar d-flex">
      <ion-icon
        name="happy-sharp"
        slot="start"
        color="secondary"
        class="loc_icon-footer"
      ></ion-icon>

      <ion-input
        type="text"
        placeholder="Mensaje"
        class="chat__input"
        formControlName="mensaje"
      ></ion-input>

      <ion-buttons slot="end">
        <span *ngIf="miFormulario.invalid;else btnEnviar">
          <ion-icon
            name="attach-sharp"
            color="secondary"
            class="loc_icon-footer"></ion-icon>
          <ion-icon
            name="mic-sharp"
            color="secondary"
            class="loc_icon-footer"
          ></ion-icon>
        </span>

        <ng-template #btnEnviar>
          <ion-icon
            name="send"
            color="secondary"
            class="loc_icon-footer"
            (click)="agregarMensaje()"
          ></ion-icon>
        </ng-template>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-footer>

