.chat__img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.loc_toolbar{
  padding:0 0.5rem;
}

.loc_icon-footer{
  font-size: 25px;
}

.loc__btns-footer{
  ion-button{
    --ripple-color:transparent;
    --background-activated-opacity:0;
    --background-focused-opacity:0;
    --background-hover-opacity:0;
  }

  ion-item,ion-label{
    --padding-bottom:0;
    --padding-end:0;
    --padding-start:0;
    --padding-top:0;
    --inner-padding-bottom:0;
    --inner-padding-end:0;
    --inner-padding-start:0;
    --inner-padding-top:0;
  }
}

.footer-grabando{
  width: 10rem;
}

ion-item-option{
  --background:transparent;
}

ion-item-option.grabando{
  width: 3rem;
}

ion-item-sliding{
  display: flex;
  justify-content: flex-end;
}

.chat__input{
  flex:1;
  border-bottom: 1px solid var(--ion-color-tertiary);
  margin:0 9px;
  font-size: 16px;
  max-height: 150px;
  width: 94%;
}

ion-back-button {
  display: block;
  ion-icon{
    font-size: 37px;
  }
}

.loc__espacio{
  flex:1;
}

.loc_contac-info{
  display: flex;
  align-items: center;
  overflow: hidden;
  img{
    width: 40px;
    height: 40px;
    margin-right: 7px;
  }

  h6{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    flex:1;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
}

ion-card{
  --color:black;
  width: 85%;
  padding: 9px;
  box-shadow: 0px 0 3px gray;
  margin: 5px;
  float: left;

  ion-card-content{
    font-size: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-weight: 600;

    ion-text{
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
      ion-icon{
        font-size: 16px;
        font-weight: bold;
        margin-left: 5px;
      }
    }
  }
}

.enviado{
  --background:#c4a3e2;
  float: right;
}

:host ::ng-deep .categoryContainer{
  position: fixed;
  background-color: #f2f2f2;
  z-index: 99;
  width: 100%;

}

:host ::ng-deep emoji-picker>ion-content>ion-row{
  >ion-col:nth-child(1){
    &::after{
      height: 75px;
      content: " as";
      width: 100%;
      display: block;
    }

    .categoryContainer>div{
      padding:0 10px;
    }
  }
  >ion-col{
    padding:0;
  }

  *{
    height: min-content;
  }
}

.loc__content{
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;

  ion-card{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.loc__scroll{
  position: absolute;
}

.loc__press{
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin: 0 -.5rem -0.5rem 0;
  background: var(--ion-color-primary);
}

.loc__info-grabar{
  display: flex;
  flex: 1;
  align-items: center;

  p{
    margin:0;
  }

  ion-icon{
    margin-top: 3px;
  }
}

.loc__icon-grabando{
  color: rgb(255, 1, 1);
  margin-right: 5px;
}
