
<div class="fondo"></div>

<ion-header>
  <ion-toolbar style=" padding:0;" color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <span class="loc_contac-info">
      <img
        src="assets/person.jpg"
        class="chat__img "
      >
      <h6>{{this.contactName}}</h6>
    </span>

    <ion-button slot="end" mode="ios" (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<div class="loc__content" #content>
  <ion-card
  *ngFor="let mensaje of mensajes"
  [class]="userName===mensaje.user?'enviado':''"
  >
    <ion-card-content *ngIf="mensaje.type==='text'">
      {{mensaje.message}}
      <ion-text color="tertiary">{{mensaje.timestamp | date: 'shortTime'}}</ion-text>
    </ion-card-content>

    <ion-card-content *ngIf="mensaje.type==='voice'">
      <app-audio [audio]="mensaje"></app-audio>
      <!-- <audio [src]="mensaje.ref" controls></audio> -->
      <ion-text color="tertiary">{{mensaje.timestamp | date: 'shortTime'}}</ion-text>
    </ion-card-content>

  </ion-card>

</div>

<ion-footer>
  <form [formGroup]="miFormulario" style="display: contents;">
    <ion-toolbar class="loc_toolbar d-flex">
      <ion-icon
        [name]="showEmojiPicker?'keypad':'happy-sharp'"
        slot="start"
        color="secondary"
        class="loc_icon-footer"
        (click)="showEmojiPicker = !showEmojiPicker"
      ></ion-icon>

      <ion-textarea
        placeholder="Mensaje"
        class="chat__input"
        formControlName="mensaje"
        auto-grow="true"
        spellcheck="true"
        rows="1"
      ></ion-textarea>

      <ion-buttons slot="end">
        <span *ngIf="miFormulario.invalid;else btnEnviar">
          <ion-button slot="icon-only">
            <ion-icon
              name="attach-sharp"
              color="secondary"
              class="loc_icon-footer"
            ></ion-icon>
          </ion-button>

          <ion-button
            slot="icon-only"
            (mousedown)="recorder()"
            (mouseup)="stop()"
            [class]="tooglePress?'loc__press':''"
          >
            <ion-icon
              name="mic-sharp"
              color="secondary"
              class="loc_icon-footer"
            ></ion-icon>
          </ion-button>
        </span>

        <ng-template #btnEnviar>
          <ion-icon
            name="send"
            color="secondary"
            class="loc_icon-footer"
            (click)="agregarMensaje()"
          ></ion-icon>
        </ng-template>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-footer>

<ion-footer class="emojiContainer" [style.height]="showEmojiPicker?'300px':'0px'"> <!--Show/Hide emoji picker. Don't use *ngIf because the component will be created again and again and cause performance issue-->
  <emoji-picker (onEmojiSelect)="addEmoji($event)"></emoji-picker>
</ion-footer>
