
<div class="fondo"></div>

<ion-header>
  <ion-toolbar style=" padding:0;" color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <span class="loc_contac-info" (click)="openModal()">
      <img
        [src]="imgPath"
        class="chat__img "
      >
      <span>
        <h6>{{user?.data.userName}}</h6>
        <h6 style="font-size: 12px;" *ngIf="state?.online">En línea</h6>
        <h6 style="font-size: 12px;" *ngIf="state?.online===false">últ. vez: {{state?.last_changed | dateString}}</h6>
      </span>
    </span>

    <ion-button slot="end" mode="ios" (click)="presentPopover($event)">
      <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<div class="loc__espacio"></div>

<ion-content class="loc__content" #content (scroll)="scrollEvent($event)">

  <ion-infinite-scroll threshold="100px" position="top" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-scroll-bottom
    [content]="content"
    *ngIf="showScrollButton"
  ></app-scroll-bottom>

  <span *ngFor="let mensaje of mensajes; trackBy: trackByFn; last as isLast" class="message-chat">
    <app-item-message
      *ngIf="mensaje.type!=='text'"
      [message]="mensaje"
      [userName]="userName"
      [last]="isLast"
      [dbMessage]="dbMessages"
      [content]="content"
      [searchMessage]="routeQuery.search"
      [idSearch]="routeQuery.id"
    ></app-item-message>
    <app-item-message
      *ngIf="mensaje.type==='text'"
      [message]="mensaje"
      [userName]="userName"
      [last]="isLast"
      [content]="content"
      [searchMessage]="routeQuery.search"
      [idSearch]="routeQuery.id"
      [idChat]="idChat"
    ></app-item-message>
  </span>
</ion-content>

<app-footer-chat [user]="user" [username]="userName" [idChat]="idChat"></app-footer-chat>
<audio src="../../../../assets/sounds/soundMessage.mp3" class="sendMessageSound"></audio>

