<span *ngIf="user">
  <ion-header>
    <ion-item class="close-fake" lines="none" text-center>
      <ion-button (click)="close()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <div class="loc__header">
      <img
        [src]="imgPath"
        alt="Imágen de perfil"
        (click)="openModal()"
        class="no-disponible"
      >
      <div class="cont-primary-info">
        <h2>{{user?.userName}}</h2>
        <small>{{user?.age}} {{'Global.Years' | translate}}</small>
        <h5>#446qwet</h5>
      </div>
    </div>
    <ion-button
      class="loc__btn-img"
      color="secondary"
      (click)="confirmCreateChat()"
    >
      <ion-icon name="chatbubble-ellipses" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-header>

  <ion-content fullscreen>
    <div class="loc__cont-info">
      <ion-list class="loc__cont-des">
        <h6>Acerca de</h6>
        <ion-item lines="none">
          <p>{{user?.descripcion? user?.descripcion:"Sin descripción"}}</p>
        </ion-item>
        <ion-item lines="none">
          <p>{{user?.location?.country? user?.location?.country:'Ubicación no disponible'}}</p>
        </ion-item>
      </ion-list>

      <ion-list class="loc__cont-des">
        <h6>{{'ProfilePage.ConversationTopics' | translate}}</h6>
        <ion-item
          lines="none"
          *ngFor="let topic of user?.favoriteTopics; let i=index"
        >
          <p>{{topic?.data.title}}</p>
        </ion-item>
      </ion-list>

      <ion-list class="loc__cont-des">
        <h6>{{'ProfilePage.Actions' | translate}}</h6>
        <ion-item  detail="true" lines="none">
          <ion-icon
            slot="start"
            name="create"
            color="primary"
          ></ion-icon>
          <p>{{'ChatPage.BlockUser' | translate}}</p>
        </ion-item>
      </ion-list>

      <ion-list class="loc__cont-des">
        <ion-item lines="none">
          <p>{{''}} {{'ProfilePage.BlockedUsers' | translate}}</p>
        </ion-item>
        <ion-item lines="none" style="margin-bottom: 10px;">
          <p>{{user?.chats.length}} {{'Global.ActiveChats' | translate}}</p>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</span>

<ion-content fullscreen color="light" *ngIf="!user">
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <div class="loc__cont-loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
</ion-content>
