
.auth__logo{
  width: 40px;
  margin-right: 7px;
}

.mb-10{
  margin-bottom: 10px;
}

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  font-weight: 700;
}

ion-content{
  --background: transparent;
  max-width: 640px;
}

.auth__cont{
  overflow: hidden;
  border-radius: 9px;
  background-color: #733db0;
  color: white;
  padding-top: 3rem;
  text-align: center;
}

.auth__input{
  --background-color:transparent;
  margin-bottom: 16px;
}


h4{
  font-size: 16px;
}

.auth__enlace{
  display:block;
}

.auth__cont ion-item{
  --background:transparent;
  align-items: center;
  color:white;
}

ion-icon{
  margin: 0 0.5rem 13px 0;
  color:#ffffff;
}

.auth__cont ion-label{
  color:#ffffff !important;
}

.cont-img{
  border-radius: 50%;
  margin-top: 1rem;
  position: relative;
  margin-bottom: -3.3rem;
  background: white;
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  ion-icon{
    position: absolute;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--ion-color-secondary);
    color: gray;
  }
}

ion-button{
  height: 3rem;
}

.auth__cont-img-options{
  margin-top: -1rem;
}

.ion-page{
  align-items: center;
}

.auth__icon-continue{
  margin:2px 0 0 5px;
}

:host ::ng-deep .swiper-pagination{
  position: relative;
  bottom: 0;
}


.loc__centrar{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 14rem;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}
