.auth__logo{
  width: 38px;
}

.mb-10{
  margin-bottom: 10px;
}

h1{
  font-size: 20px;
  font-weight:600;
}

ion-content{
  --background: transparent;
}

.auth__cont{
  overflow: hidden;
  border-radius: 9px;
  background-color: var(--ion-color-primary);
  color:white;
}

.auth__input{
  color:black;
  width: 100%;
  background-color:white;
  border-radius: 9px;
  padding:2px 7px !important;
  margin-bottom: 16px;
  font-size: 14px;
}


h4{
  font-size: 16px;
}

.auth__enlace{
  display:block;
}
