<div class="loc__controls">
  <ion-button *ngIf="!descargar" slot="start" class="ion-no-padding" (click)="tooglePlayer()">
    <ion-icon
      name="play"
      slot="icon-only"
      *ngIf="pause"
    ></ion-icon>
    <ion-icon
      name="pause"
      slot="icon-only"
      *ngIf="!pause"
    ></ion-icon>
  </ion-button>

  <ion-button *ngIf="descargar" (click)="downloadFile()">
    <ion-icon
      name="download"
      slot="icon-only"

    ></ion-icon>
  </ion-button>

  <ion-range
    #range
    max="100"
    [disabled]="descargar?true:false"
    [class]="descargar?'disabled':''"
    [(ngModel)]="progress"
    color="secondary"
    (touchend)="seek()"
    (touchstart)="setPause()"
    (mouseup)="seek()"
    (mousedown)="setPause()"
  ></ion-range>
</div>
