<ion-content fullscreen color="light">
  <ion-item class="close-fake" lines="none" text-center>
    <ion-button (click)="close()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <div class="loc__cont-info">
    <img [src]="imgPath" alt="">
    <div class="loc__cont-des">
      <h6>{{'ProfileModal.Info' | translate}}</h6>
      <ion-item>
        <p>{{user.data.userName}}</p>
      </ion-item>
      <ion-item>
        <p>{{user.data.descripcion}}</p>
      </ion-item>
      <ion-item>
        {{'ProfileModal.Join' | translate}} {{user.data.createDate | date}}
      </ion-item>
    </div>

    <div class="loc__cont-des">
      <h6>{{'ProfileModal.Theme' | translate}}</h6>
      <ion-item>
        <p>{{chat.tema}}</p>
      </ion-item>
    </div>

    <ion-item class="loc__btn-block" (click)="blockUser()">
      <ion-icon name="remove-circle-outline" color="danger"></ion-icon>
      <p>{{'ProfileModal.BlockUser' | translate}}</p>
    </ion-item>
  </div>


  <!-- <ion-item class="loc__btn-block">
    <ion-segment value="images">
      <ion-segment-button value="images">
        <ion-label>Imágenes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="videos">
        <ion-label>Videos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="documents">
        <ion-label>Documentos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>

  <div class="loc__cont-items">

  </div> -->
</ion-content>
