<ion-list>
  <ion-item button mode="md" (click)="copy()">
    <ion-icon name="copy-outline" slot="start"></ion-icon>
    <ion-label>
      Copiar
    </ion-label>
  </ion-item>
  <ion-item
    native="red"
    button
    mode="md"
    *ngIf="saved"
    (click)="save()
  ">
    <ion-icon name="bookmark-outline" slot="start"></ion-icon>
    <ion-label>
      Guardar mensaje
    </ion-label>
  </ion-item>
  <ion-item
    button
    mode="md"
    (click)="reply()"
    *ngIf="message.state!==0"
  >
    <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
    <ion-label>
      Responder
    </ion-label>
  </ion-item>
</ion-list>
