<ion-list>
  <ion-item button mode="md" (click)="copy()">
    <ion-icon name="copy-outline" slot="start"></ion-icon>
    <ion-label>
      {{'PopoverChat.Copy' | translate}}
    </ion-label>
  </ion-item>
  <ion-item
    native="red"
    button
    mode="md"
    *ngIf="this.group"
    (click)="viewProfile()
  ">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>
      {{'PopoverChat.ViewProfile' | translate}}
    </ion-label>
  </ion-item>
  <ion-item
    native="red"
    button
    mode="md"
    *ngIf="saved"
    (click)="save()
  ">
    <ion-icon name="bookmark-outline" slot="start"></ion-icon>
    <ion-label>
      {{'PopoverChat.SaveMessage' | translate}}
    </ion-label>
  </ion-item>
  <ion-item
    button
    mode="md"
    (click)="reply()"
    *ngIf="message.state!==0"
  >
    <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
    <ion-label>
      {{'PopoverChat.Reply' | translate}}
    </ion-label>
  </ion-item>
</ion-list>
