ion-card{
  --color:black;
  max-width: 85%;
  padding: 6px;
  max-height: 24rem;
  box-shadow: none;
  margin: 5px 5px 5px 13px;
  float: left;
  --background: #ebeaea;
  overflow: visible;

  &::before{
    content: "";
    position: absolute;
    border: solid 10px transparent;
    border-right: solid 10px #ebeaea;
    border-radius: 50%;
    left: -9px;
    top: -3px;
    transform: rotate(135deg);
  }

  ion-card-content{
    font-size: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    max-height: 23rem;
    max-width: 100%;

    ion-text{
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
      ion-icon{
        font-size: 16px;
        font-weight: bold;
        margin-left: 5px;
      }
    }


  }
}

.enviado{
  --background: var(--ion-color-primary) !important;
  float: right;
  --color: #fff;
  margin: 5px 10px 5px 5px;

  &::before{
    content: "";
    left: inherit;
    right: -7px;
    top: -3px;
    border-right: #6400be solid 10px;
    transform: rotate(45deg);
  }

  ion-text{
    color:#ccc;
  }
}

app-image-message{
  max-height: 22rem;
  overflow: hidden;
}

.loc__cont-date{
  width: 100%;
  display: flex;
  justify-content: center;
}
