<div *ngIf="showDate" class="loc__cont-date">
  <ion-chip >
    <ion-label>{{stringDate}}</ion-label>
  </ion-chip>
</div>

<ion-card
  [id]="message.id"
  [class]="userName===message.user?'enviado':''"
>
  <div *ngIf="message.reply" class="loc__reply" (click)="scrollToReply()">
    <span class="userName truncar">
      {{message.user}}
    </span>
    <span class="truncar">
      {{message.reply.message}}
    </span>
  </div>

  <ion-card-content
    *ngIf="message.type==='text'"
    (click)="presentPopoverMessage($event,message)"
  >
    <span #messageItem>
      {{message.message}}
    </span>

    <ion-text color="tertiary" >
      {{message.timestamp | date: 'shortTime'}}
      <span *ngIf="userName===message.user" style="display: contents;">
        <ion-icon name="time-outline"  *ngIf="message.state===0"></ion-icon>
        <ion-icon name="checkmark-outline" *ngIf="message.state===1"></ion-icon>
        <ion-icon name="checkmark-done-outline" *ngIf="message.state===2"></ion-icon>
      </span>
    </ion-text>
  </ion-card-content>

  <ion-card-content *ngIf="message.type==='voice'">
    <app-audio
      [audio]="message"
      [dbMessages]="dbMessage"
      [send]="userName===message.user"
    ></app-audio>
    <ion-text color="tertiary">
      {{message.timestamp | date: 'shortTime'}}
      <span *ngIf="userName===message.user" style="display: contents;">
        <ion-icon name="time-outline"  *ngIf="message.state===0"></ion-icon>
        <ion-icon name="checkmark-outline" *ngIf="message.state===1"></ion-icon>
        <ion-icon name="checkmark-done-outline" *ngIf="message.state===2"></ion-icon>
      </span>
    </ion-text>

  </ion-card-content>

  <ion-card-content *ngIf="message.type==='image'">
    <app-image-message [image]="message" [userName]="userName" [dbMessages]="dbMessage"></app-image-message>
    <ion-text color="tertiary">
      {{message.timestamp | date: 'shortTime'}}
      <span *ngIf="userName===message.user" style="display: contents;">
        <ion-icon name="time-outline"  *ngIf="message.state===0"></ion-icon>
        <ion-icon name="checkmark-outline" *ngIf="message.state===1"></ion-icon>
        <ion-icon name="checkmark-done-outline" *ngIf="message.state===2"></ion-icon>
      </span>
    </ion-text>

  </ion-card-content>

  <ion-card-content *ngIf="message.type==='video'">
    <app-video-message [video]="message" [userName]="userName" [dbMessages]="dbMessage"></app-video-message>
    <ion-text color="tertiary">
      {{message.timestamp | date: 'shortTime'}}
      <span *ngIf="userName===message.user" style="display: contents;">
        <ion-icon name="time-outline"  *ngIf="message.state===0"></ion-icon>
        <ion-icon name="checkmark-outline" *ngIf="message.state===1"></ion-icon>
        <ion-icon name="checkmark-done-outline" *ngIf="message.state===2"></ion-icon>
      </span>
    </ion-text>
  </ion-card-content>

  <ion-card-content *ngIf="message.type==='document' || message.type==='audio'">
    <app-document [document]="message" [userName]="userName" [dbMessages]="dbMessage"></app-document>
    <ion-text color="tertiary">
      {{message.timestamp | date: 'shortTime'}}
      <span *ngIf="userName===message.user" style="display: contents;">
        <ion-icon name="time-outline"  *ngIf="message.state===0"></ion-icon>
        <ion-icon name="checkmark-outline" *ngIf="message.state===1"></ion-icon>
        <ion-icon name="checkmark-done-outline" *ngIf="message.state===2"></ion-icon>
      </span>
    </ion-text>
  </ion-card-content>

  <span *ngIf="message.type!=='text'">
    <ion-icon
      *ngIf="message.download && userName!==message.user || message.state!==0 && userName===message.user"
      [name]="userName===message.user?'arrow-redo-circle':'arrow-undo-circle'"
      color="secondary"
      (click)="reply()"
      [class]="userName===message.user?'replySend':'replyNotSend'"
    ></ion-icon>
  </span>
</ion-card>
