<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>
    <ion-title class="ion-no-padding">{{'AgregarPage.Title' | translate}}</ion-title>
    <ion-button slot="end" mode="md" class="loc__add-theme" (click)="addTheme()">
      <ion-icon
        name="add-outline"
        slot="icon-only"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!buscando; else contBuscando" class="ion-padding-horizontal">
  <span *ngIf="user?.data.chats.length<5">
    <ion-list>
      <ion-list-header>{{'AgregarPage.Popular' | translate}}</ion-list-header>
      <ion-item
        detail="true"
        *ngFor="let tag of popularTags"
        (click)="buscarCompa(tag.id, tag.data.title)"
      >
        <ion-label>{{tag.data.title}}</ion-label>
        <ion-note slot="end" color="primary">{{tag.chatsCreated}}</ion-note>
      </ion-item>
    </ion-list>

    <ion-list-header>{{'AgregarPage.AllTheThemes' | translate}}</ion-list-header>

    <form
      [formGroup]="miFormulario"
      autocomplete="off"
      class="loc__form"
    >
      <ion-icon name="search-sharp"></ion-icon>
      <ion-input
        [placeholder]="'AgregarPage.SearchPlaceholder' | translate"
        maxlength="50"
        class="ion-padding-vertical"
        formControlName="searchTxt"
      ></ion-input>
    </form>

    <span class="loc__guide">
      <img src="../../../../assets/badge-exam.png" />
      <h5>
        <ion-icon name="arrow-back"></ion-icon>
        número de chats creados
      </h5>
    </span>
    <div class="css-grid">
      <ion-chip
        *ngFor="let item of items; trackBy:trackItems"
        (click)="buscarCompa(item.id, item.data.title)"
        [style]="'--background:'+item.color+';'"
        color="secondary"
      >
        <ion-icon *ngIf="item.iconName" [name]="item.iconName"></ion-icon>
        <ion-label>{{item.data.title}}</ion-label>
        <ion-badge mode="ios" color="secondary">{{item.chatsCreated}}</ion-badge>
      </ion-chip>
    </div>

    <p *ngIf="items.length===0">{{'AgregarPage.NotFound' | translate}}</p>
  </span>
</ion-content>

<ng-template #contBuscando>
  <ion-content class="ion-padding">

    <span *ngIf="!searchLanguage">
      <ion-text>
        {{'AgregarPage.SelectLanguage' | translate}}
      </ion-text>

      <ion-item>
        <ion-label>{{'Global.Language' | translate}}</ion-label>
        <ion-select [(ngModel)]="selectValue">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Español (Spanish)</ion-select-option>
          <ion-select-option value="fr">Français (French)</ion-select-option>
          <ion-select-option value="po">Português (Portuguese)</ion-select-option>
          <ion-select-option value="ch">中国人 (Chinese)</ion-select-option>
          <ion-select-option value="ar">हिंदी (Hindi)</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <small>{{'AgregarPage.SelectTxt' | translate}}</small>
      <br><br>

      <div class="loc__cont-buttons">
        <ion-button color="tertiary" (click)="buscando=false">
          {{'Global.Cancel' | translate}}
        </ion-button>
        <ion-button color="secondary" (click)="setSearchLanguage()">
          {{'AgregarPage.Search' | translate}}
        </ion-button>
      </div>
    </span>

    <div class="flex" *ngIf="searchLanguage">
      <span style="display: flex;">
        {{'AgregarPage.Searching' | translate}}
        <ion-spinner
          color="primary"
          name="dots"
        ></ion-spinner>
      </span>

      <ion-text class="ion-text-center" color="tertiary">
        {{'AgregarPage.SearchingMessage' | translate}}
      </ion-text>

      <ion-button color="secondary" (click)="cancelarBusqueda()">
        {{'Global.Cancel' | translate}}
      </ion-button>
    </div>
  </ion-content>
</ng-template>
