<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <ion-title class="ion-no-padding">Agrega un compañero</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <ion-chip>
    <ion-label>Desarrollador Frontend</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Desarrollador Backend</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Diseñador UI/UX</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Ciberseguridad</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Mecatrónica</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Desarrollador de base de datos</ion-label>
  </ion-chip>



</ion-content>
