<ion-header>
  <ion-toolbar>
    <ion-button (click)="close()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div class="loc__header">
    <ion-avatar slot="start">
      <img
        [src]="imgPath"
        alt="Imágen de perfil"
        (click)="openModal()"
        class="no-disponible"
      >
    </ion-avatar>
    <div class="cont-primary-info">
      <h2>{{group?.title}}</h2>
      <small>{{group?.usersData.length}} {{'ChatPage.Members' | translate}}</small>
    </div>
  </div>
</ion-header>

<ion-content fullscreen>
  <div class="loc__cont-info">
    <ion-list class="loc__cont-des">
      <h6>Miembros</h6>
      <ion-item
        detail="false"
        *ngFor="let member of group?.usersData"
        (click)="viewProfile(member.id)"
      >
        <ion-avatar slot="start">
          <img [src]="memberImgRef(member)" class="no-disponible">
        </ion-avatar>
        <ion-label>
          <span class="agrupar">
            <span class="break">
              {{member.userName}}
            </span>
          </span>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
