<ion-header>
  <ion-toolbar>
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>
  </ion-toolbar>

  <div class="loc__header">
    <img
      [src]="imgPath"
      alt="Imágen de perfil"
      (click)="openModal()"
      class="no-disponible"
    >
    <div class="cont-primary-info">
      <h2>{{user?.data.userName}}</h2>
      <small>{{user?.data.age}} {{'Global.Years' | translate}}</small>
      <h5>#446qwet</h5>
    </div>
  </div>
  <ion-button
    class="loc__btn-img"
    color="secondary"
    (click)="changePhoto()"
  >
    <ion-icon name="camera-sharp" slot="icon-only"></ion-icon>
  </ion-button>
</ion-header>

<ion-content fullscreen>
  <div class="loc__cont-info">
    <ion-list class="loc__cont-des">
      <h6>{{'ProfilePage.AboutMe' | translate}}</h6>
      <ion-item detail="true" lines="none" (click)="changeDescription()">
        <p>{{user?.data.descripcion?user?.data.descripcion: 'ProfilePage.EnterDescription' | translate}}</p>
      </ion-item>
      <ion-item lines="none">
        <p>{{user?.data?.location?.country? user?.data?.location?.country:'Ubicación no disponible'}}</p>
      </ion-item>
    </ion-list>

    <ion-list class="loc__cont-des">
      <h6>{{'ProfilePage.ConversationTopics' | translate}}</h6>
      <ion-item
        detail="true"
        lines="none"
        *ngFor="let topic of user?.data.favoriteTopics; let i=index"
        (click)="openTopicModal(i)"
      >
        <p>{{topic?.data.title || 'ProfilePage.EnterTopic' | translate}}</p>
      </ion-item>
    </ion-list>

    <ion-list class="loc__cont-des">
      <h6>{{'ProfilePage.Actions' | translate}}</h6>
      <ion-item  detail="true" lines="none" (click)="changeApodo()">
        <ion-icon
          slot="start"
          name="create"
          color="primary"
        ></ion-icon>
        <p>{{'ProfilePage.ChangeNickname' | translate}}</p>
      </ion-item>
    </ion-list>

    <ion-list class="loc__cont-des">
      <ion-item lines="none">
        <p>{{numBlockedUsers}} {{'ProfilePage.BlockedUsers' | translate}}</p>
      </ion-item>
      <ion-item lines="none" style="margin-bottom: 10px;">
        <p>{{user?.data.chats.length}} {{'Global.ActiveChats' | translate}}</p>
      </ion-item>
    </ion-list>

  </div>
</ion-content>
