<ion-content fullscreen color="light">
  <ion-item class="close-fake" lines="none" text-center>
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>
  </ion-item>

  <div class="loc__cont-info">
    <img
      [src]="imgPath"
      alt="Imágen de perfil"
      (click)="openModal()"
      class="no-disponible"
    >
    <ion-button
      class="loc__btn-img"
      color="secondary"
      (click)="changePhoto()"
    >
      <ion-icon name="camera-sharp" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-list class="loc__cont-des">
      <h6>{{'Global.UserName' | translate}}</h6>
      <ion-item>
        <p>{{user?.data.userName}}</p>
      </ion-item>
      <ion-item>
        {{'ProfilePage.Join' | translate}} {{user?.data.createDate | date}}
      </ion-item>
    </ion-list>

    <ion-list class="loc__cont-des">
      <h6>{{'ProfilePage.Description' | translate}}</h6>
      <ion-item (click)="changeDescription()" detail="true">
        <p>{{user?.data.descripcion}}</p>
      </ion-item>
    </ion-list>
    <ion-list class="loc__cont-des">
      <h6>{{'ProfilePage.Info' | translate}}</h6>
      <ion-item>
        <p>{{numBlockedUsers}} {{'ProfilePage.BlockedUsers' | translate}}</p>
      </ion-item>
      <ion-item>
        <p>{{user?.data.chats.length}} {{'Global.ActiveChats' | translate}}</p>
      </ion-item>
    </ion-list>

  </div>


</ion-content>
