<div class="fondo">
  <div></div>
</div>

<ion-content fullscreen class="ion-padding" *ngIf="!continue">

  <h1 class="loc__title-register">{{'RegisterPage.ApodoMessage' | translate}}</h1>
  <form [formGroup]="miFormulario">

    <input
      type="text"
      class="loc__register-input"
      [placeholder]="'RegisterPage.YourNickname' | translate"
      formControlName="apodo"
    >

    <div class="loc__grid">
      <div #avatar0 (click)="selectAvatar(avatar0, 0)">
        <span class="cont-img">
          <img
            [src]="imgPath"
            alt="Profile"
            class="auth__img-profile"
          >
          <ion-icon name="camera" (click)="presentActionSheet()"></ion-icon>
        </span>
      </div>
      <div #avatar1 (click)="selectAvatar(avatar1, 1)">
        <img src="../../../../assets/avatar/avatar_1.jpg" alt="">
      </div>
      <div #avatar2 (click)="selectAvatar(avatar2, 2)">
        <img src="../../../../assets/avatar/avatar_2.jpg" alt="">
      </div>
      <div #avatar3 (click)="selectAvatar(avatar3, 3)">
        <img src="../../../../assets/avatar/avatar_3.jpg" alt="">
      </div>
      <div #avatar4 (click)="selectAvatar(avatar4, 4)">
        <img src="../../../../assets/avatar/avatar_4.jpg" alt="">
      </div>
      <div #avatar5 (click)="selectAvatar(avatar5, 5)">
        <img src="../../../../assets/avatar/avatar_5.jpg" alt="">
      </div>
      <div #avatar6 (click)="selectAvatar(avatar6, 6)">
        <img src="../../../../assets/avatar/avatar_6.jpg" alt="">
      </div>
      <div #avatar7 (click)="selectAvatar(avatar7, 7)">
        <img src="../../../../assets/avatar/avatar_7.jpg" alt="">
      </div>
      <div #avatar8 (click)="selectAvatar(avatar8, 8)">
        <img src="../../../../assets/avatar/avatar_8.jpg" alt="">
      </div>
    </div>

    <ion-button
      shape="round"
      expand="full"
      class="continue-btn"
      (click)="continueRegister()"
      type="submit"
    >
      {{'RegisterPage.Continue' | translate}}
    </ion-button>
  </form>
</ion-content>

<ion-content fullscreen class="ion-padding" *ngIf="continue">

  <h1 class="loc__title-register">{{'RegisterPage.DescriptionMessage' | translate}}</h1>
  <form [formGroup]="miFormulario">
    <input
      type="text"
      class="loc__register-input"
      placeholder="Descripción corta"
      style="margin-bottom: 2rem;"
      maxlength="80"
      formControlName="descripcion"
    >
  </form>

    <h1 class="loc__title-register">{{'RegisterPage.AgeMessage' | translate}}</h1>

    <ion-item style="margin-bottom: 2rem;">
      <ion-label>{{'RegisterPage.Age' | translate}}</ion-label>
      <ion-select
        [(ngModel)]="age"
        placeholder="Selecciona tu edad"
      >
        <ion-select-option
          *ngFor="let age of ageArr"
          [value]="age"
        >{{age}} {{'Global.Years' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <span class="d-center">
      <small>{{'LoginPage.PrivacyPolicy' | translate}} <a href="https://docs.google.com/document/d/1XHJjxROjaA0F-ZO1wfhMDtM6noHxYip2F9bjKsXfFFc/edit?usp=sharing">{{'LoginPage.PrivacyPolicy2' | translate}}</a></small>
    </span>

    <ion-button
      shape="round"
      expand="full"
      class="continue-btn"
      (click)="enviar()"
    >
      {{'RegisterPage.Continue' | translate}}
    </ion-button>
</ion-content>
