<div class="fondo"></div>

<ngx-snackbar
  [position]="'top-center'"
  [max]="1"
  [timeout]="7000"
  [background]="'#eb445a'"
  [color]="'#fff'"
  [accent]="'#cf3c4f'">
</ngx-snackbar>

<ion-content class="ion-padding">

  <h1 class="ion-text-center mb-10">
    <img
      src="../../../../assets/logo.png"
      alt="Logo"
      class="auth__logo"
    >
    Puzeos
  </h1>
  <ion-row class="mb-10 ion-justify-content-center ion-padding-top ion-align-items-center auth__cont-img-options">
    <span class="cont-img">
      <img
        [src]="imgPath"
        alt="Profile"
        class="auth__img-profile"
      >
      <ion-icon name="camera" (click)="presentActionSheet()"></ion-icon>
    </span>
  </ion-row>
  <form
    [formGroup]="miFormulario"
    action=""
    autocomplete="off"
    (ngSubmit)="enviar()"
  >
    <div
      color="primary"
      class="ion-padding-vertical sombra ion-padding auth__cont mb-10"
    >
      <ion-slides pager="true" [options]="slideOpts" #IonSlides>
        <ion-slide>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label position="floating">{{ 'Global.UserName' | translate }}</ion-label>
            <ion-input
              type="text"
              id="name"
              class="auth__input"
              [placeholder]="'RegisterPage.UserNamePlaceholder' | translate "
              formControlName="name"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="floating">{{ 'RegisterPage.EmailLabel' | translate }}</ion-label>
            <ion-input
              type="email"
              id="email"
              class="auth__input"
              [placeholder]="'RegisterPage.EmailPlaceholder' | translate"
              formControlName="email"
            ></ion-input>
          </ion-item>

          <span formGroupName="passwords">
            <ion-item>
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-label position="floating">{{ 'RegisterPage.PasswordLabel' | translate }}</ion-label>
              <ion-input
                  type="password"
                  id="password"
                  class="auth__input"
                  [placeholder]="'RegisterPage.PasswordPlaceholder' | translate"
                  formControlName="password"
                ></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-label position="floating">{{ 'RegisterPage.PasswordLabel_2' | translate }}</ion-label>
              <ion-input
                  type="password"
                  id="password2"
                  class="auth__input"
                  [placeholder]="'RegisterPage.PasswordPlaceholder_2' | translate"
                  formControlName="password2"
                ></ion-input>
            </ion-item>
          </span>
        </ion-slide>
        <ion-slide>
          <ion-item>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label position="floating">{{ 'RegisterPage.DescriptionLabel' | translate }}</ion-label>
            <ion-input
              type="text"
              id="email"
              class="auth__input"
              [placeholder]="'RegisterPage.DescriptionPlaceholder' | translate"
              maxlength="80"
              formControlName="descripcion"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>{{'Global.Language' | translate}}</ion-label>
            <ion-select formControlName="language" value="es" (ionChange)="setLanguage()">
              <ion-select-option value="en">English</ion-select-option>
              <ion-select-option value="es">Español</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
          <small>
            {{'RegisterPage.PrivacyPolicy' | translate}}
            <a style="color:rgb(136, 208, 236);" href="https://docs.google.com/document/d/1XHJjxROjaA0F-ZO1wfhMDtM6noHxYip2F9bjKsXfFFc/edit?usp=sharing">
              <small>{{'RegisterPage.PrivacyPolicy2' | translate}}</small>
            </a>
          </small>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-button
      expand="block"
      class="ion-text-capitalize center-child"
      color="secondary"
      (click)="activeSlide===0?next():enviar()"
    >
      <span *ngIf="activeSlide===0">
        {{'RegisterPage.Continue' | translate}}
      </span>
      <span *ngIf="activeSlide!==0">
        {{'RegisterPage.SignIn' | translate}}
      </span>
      <ion-icon
        *ngIf="activeSlide===0"
        name="arrow-forward-outline"
        class="auth__icon-continue"
      ></ion-icon>
    </ion-button>

    <ion-text color="tertiary">
      <h4 class="ion-text-center">{{'RegisterPage.H4Text' | translate}}</h4>
    </ion-text>
    <a
      [routerLink]="['/auth/login']"
      class="ion-text-center auth__enlace"
    >{{'RegisterPage.Login' | translate}}</a>

  </form>
</ion-content>

