<div
  [class]="send?'loc__controls':'loc__controls recive'"
>
  <ion-button *ngIf="descargar==3" slot="start" class="ion-no-padding" (click)="tooglePlayer()">
    <ion-icon
      name="play"
      slot="icon-only"
      *ngIf="pause"
    ></ion-icon>
    <ion-icon
      name="pause"
      slot="icon-only"
      *ngIf="!pause"
    ></ion-icon>
  </ion-button>

  <ion-button *ngIf="descargar===1" (click)="downloadFile()">
    <ion-icon
      name="arrow-down-circle-outline"
      slot="icon-only"
    ></ion-icon>
  </ion-button>

  <ion-spinner *ngIf="descargar===2" color="secondary"></ion-spinner>

  <ion-range
    #range
    max="100"
    [disabled]="descargar!==3?true:false"
    [class]="descargar!==3?'disabled':''"
    [(ngModel)]="progress"
    (touchend)="seek()"
    (touchstart)="setPause()"
    (mouseup)="seek()"
    (mousedown)="setPause()"
  ></ion-range>
</div>
<p class="duration">{{audio.duration}}</p>
