<ion-footer>
  <div *ngIf="replyMessage">
    <div class="loc__reply">
      <ion-icon name="arrow-redo" color="primary"></ion-icon>
      <span class="truncar">
        <p class="userName">
          {{replyMessage.user}}
        </p>
        <span >
          {{replyMessage.message}}
        </span>
      </span>
      <div class="loc__delete-reply" (click)="deleteReply()">
        <ion-icon name="close"></ion-icon>
      </div>
    </div>
  </div>
  <form [formGroup]="miFormulario" style="display: contents;" *ngIf="!blockChat">
    <ion-toolbar class="loc_toolbar d-flex">
      <div
        class="loc__info-grabar"
        *ngIf="tooglePress===true"
      >
        <ion-icon name="radio-button-on-outline" class="loc__icon-grabando"></ion-icon>
        <p>{{tiempoGrabacion}}</p>

        <ion-icon name="chevron-back-outline"></ion-icon>
        <p>
          {{'ChatPage.Swipe' | translate}}
        </p>
      </div>
      <ion-icon
        [name]="showEmojiPicker?'keypad':'happy-sharp'"
        slot="start"
        color="secondary"
        class="loc_icon-footer"
        (click)="toogleEmojiPicker()"
        *ngIf="tooglePress===false"
      ></ion-icon>

      <ion-textarea
        [placeholder]="'ChatPage.Message' | translate"
        class="chat__input"
        formControlName="mensaje"
        auto-grow="true"
        spellcheck="true"
        rows="1"
        (click)="resetPosEmoji=true"
        maxlength="1000"
        *ngIf="tooglePress===false"
        autocapitalize
        #textarea
      ></ion-textarea>

      <ion-buttons
        slot="end"
        [class]="tooglePress?'footer-grabando loc__btns-footer':'loc__btns-footer'"
        *ngIf="miFormulario.invalid;else btnEnviar"
      >
         <app-file-selector
          *ngIf="tooglePress===false"
          [userName]="username"
          [idChat]="idChat"
        ></app-file-selector>

          <ion-item-sliding (ionDrag)="handleSlide($event)" #sliding>
            <ion-item >
              <ion-label>
                <ion-button
                  [class]="tooglePress?'loc__press':''"
                  (mousedown)="recorder()"
                  (mouseup)="stop()"
                  (touchend)="stop()"
                  (touchstart)="recorder()"
                >
                  <ion-icon
                    slot="icon-only"
                    name="mic-sharp"
                    color="secondary"
                    class="loc_icon-footer"
                  ></ion-icon>
                </ion-button>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option expandable [class]="tooglePress?'grabando':''">

              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-buttons>

        <ng-template #btnEnviar>
          <ion-buttons slot="end" class="loc__btns-footer">
            <ion-icon
              name="send"
              color="secondary"
              class="loc_icon-footer"
              (click)="agregarMensaje()"
              style="margin-right:7px;"
            ></ion-icon>
          </ion-buttons>
        </ng-template>

    </ion-toolbar>
  </form>
  <ion-text *ngIf="blockChat">
    {{'ChatPage.DeleteChatMessage' | translate:{ value: user?.data.userName} }}
  </ion-text>
</ion-footer>

<ion-footer class="emojiContainer" [style.minHeight]="emojiPickerHeight+'px'" *ngIf="showEmojiPicker"> <!--Show/Hide emoji picker. Don't use *ngIf because the component will be created again and again and cause performance issue-->
  <emoji-picker (onEmojiSelect)="addEmoji($event)"></emoji-picker>
</ion-footer>
