<ion-header color="primary">
  <ion-toolbar  color="primary">
    <ion-button
      (click)="openMenu()"
      slot="start"
      mode="ios"
    >
      <ion-icon
        name="menu-sharp"
        slot="icon-only"
      ></ion-icon>
    </ion-button>

    <ion-title class="ion-no-padding title">Puzeos</ion-title>

    <ion-button
      slot="end"
      mode="ios"
      routerLink="/chat/search-message"
    >
      <ion-icon
        name="search-sharp"
        slot="icon-only"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<app-menu></app-menu>

<ion-content color="light" id="content">

  <app-item-chat
    *ngFor="let chat of chats; trackBy:trackItems"
    [chat]="chat"
    [chatUser]="user?.data.userName"
  ></app-item-chat>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    color="secondary"
  >
    <ion-fab-button routerLink="/chat/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

