<ion-header color="primary">
  <ion-toolbar  color="primary">
    <ion-button
      (click)="openMenu()"
      slot="start"
      mode="ios"
    >
      <ion-icon
        name="menu-sharp"
        slot="icon-only"
      ></ion-icon>
    </ion-button>

    <ion-title class="ion-no-padding title">Puzeos</ion-title>

    <ion-button
      slot="end"
      mode="ios"
      routerLink="/chat/search-message"
    >
      <ion-icon
        name="search-sharp"
        slot="icon-only"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<app-menu></app-menu>

<ion-content color="light" id="content">

  <ion-item class="ion-no-padding no-bg-color" lines="none" *ngIf="user?.data.chats?.length===0">
    <div class="loc__no-chats">
      <div>
        <span>{{'HomePage.NotHaveChats' | translate}}</span>

        <ion-button
          shape="round"
          expand="full"
          class="continue-btn loc__btn"
          routerLink="/chat/agregar"
        >
          {{'HomePage.StartLooking' | translate}}
        </ion-button>
      </div>
    </div>
  </ion-item>

  <ion-item class="ion-no-padding no-bg-color" lines="none" *ngIf="!connectedAccount">
    <div class="loc__alert-message">
      <h5>{{'HomePage.AlertTitle' | translate}}</h5>
      <h6>{{'HomePage.AlertMessage' | translate}}</h6>
      <span routerLink="/chat/setting">{{'HomePage.Connect' | translate}}</span>
    </div>
  </ion-item>

  <app-item-chat
    *ngFor="let chat of chats; trackBy:trackItems"
    [chat]="chat"
    [chatUser]="user.data.userName"
  ></app-item-chat>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    color="secondary"
  >
    <ion-fab-button routerLink="/chat/agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <small>{{user?.data.chats?.length}}/5 {{'Global.ActiveChats' | translate}}</small> -->
</ion-content>

