<ion-header color="primary">
  <ion-toolbar  color="primary">
    <ion-button
      (click)="openMenu()"
      slot="start"
      mode="ios"
    >
      <ion-icon
        name="menu-sharp"
        slot="icon-only"
      ></ion-icon>
    </ion-button>

    <ion-title class="ion-no-padding title">Puzeos</ion-title>

    <ion-button
      slot="end"
      mode="ios"
      routerLink="/chat/search-message"
    >
      <ion-icon
        name="search-sharp"
        slot="icon-only"
      ></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<app-menu></app-menu>

<ion-content color="light" id="content">
  <app-item-chat
    *ngFor="let chat of chats; trackBy:trackItems"
    [chat]="chat"
    [chatUser]="user.data.userName"
  ></app-item-chat>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    color="secondary"
  >
    <ion-fab-button (click)="agregarRoute()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <small>{{user?.data.chats.length}}/5 chats activos</small>
</ion-content>

<div class="loc__guia" *ngIf="welcome && chatsFirebase===0">
  <h1>Bienvenido a Puzeos :D</h1>
  <p>Pulsa en el botón de + para conversar con otra persona sobre un tema.</p>
  <img src="../../../../assets/img-welcome.png" alt="Imágen">
  <ion-button color="primary" routerLink="chat/" (click)="welcome=false">Omitir</ion-button>
</div>
