<div *ngIf="video.user===userName" class="center-child">
  <ion-icon
    name="play"
    slot="icon-only"
    class="loc__play"
    (click)="openModal()"
    *ngIf="video.state!==0"
  ></ion-icon>

  <span class="loc__cont-control absolute z-99" *ngIf="uploaded && video.state===0">
    <ion-icon name="close-outline" (click)="cancelUpload()" class="z-99"></ion-icon>
    <svg class="upload">
      <circle cx="20" cy="20" r="20"/>
      <circle cx="20" cy="20" r="20"/>
    </svg>
  </span>

  <ion-icon
    name="arrow-up-circle-outline"
    class="absolute btn-upload"
    color="primary"
    *ngIf="!uploaded && video.state===0"
    (click)="reUpload()"
  ></ion-icon>

  <video
    alt="Imágen"
    preload="metadata"
    (click)="openModal()"
    class="no-disponible"
  >
    <source [src]="imageUrl" type="video/mp4">
  </video>
</div>

<div *ngIf="video.user!==userName">
  <video
    alt="Imágen"
    *ngIf="video.download===true"
    preload="metadata"
    class="no-disponible"
  >
    <source [src]="imageUrl" type="video/mp4">
  </video>

  <svg *ngIf="video.download===false && downloaded==true">
    <circle cx="20" cy="20" r="20"/>
    <circle cx="20" cy="20" r="20"/>
  </svg>

  <span
    *ngIf="video.download===false && downloaded===false"
    class="loc__btn-download"
    (click)="downloadVideo()"
  >
    <ion-icon
      name="play"
      slot="icon-only"
    ></ion-icon>
    <p>{{size}}</p>
  </span>
</div>

