<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <ion-title class="ion-no-padding">{{'MenuComponent.Setting' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="loc__main">

  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>
        {{'SettingPage.DarkMode' | translate}}
      </ion-label>
      <ion-toggle
        [(ngModel)]="toogleDarkMode"
        slot="end"
        (ionChange)="toogleDark()"
      ></ion-toggle>
    </ion-item>

    <ion-item lines="full">
      <ion-icon name="language" slot="start"></ion-icon>
      <ion-label>{{'Global.Language' | translate}}</ion-label>
      <ion-select [(ngModel)]="languageSelect" (ionChange)="setLanguage()">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-icon name="chatbubbles" slot="start"></ion-icon>
      <ion-label class="ion-text-wrap">Idioma de conversaciones</ion-label>
      <ion-select [(ngModel)]="searchLanguageSelect" (ionChange)="setSearchLanguage()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="es">Español (Spanish)</ion-select-option>
        <ion-select-option value="fr">Français (French)</ion-select-option>
        <ion-select-option value="po">Português (Portuguese)</ion-select-option>
        <ion-select-option value="ch">中国人 (Chinese)</ion-select-option>
        <ion-select-option value="ar">हिंदी (Hindi)</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
