<ion-item [routerLink]="'/chat/id/'+chat.id" detail="false">
  <ion-avatar slot="start">
    <img [src]="urlImg">
  </ion-avatar>
  <ion-label>
    <span class="agrupar">
      <span class="break">
        {{chatName}}
      </span>
      <ion-text color="tertiary date">{{dateString?dateString:chat.timestamp | date: 'shortTime'}}</ion-text>
    </span>
    <ion-text color="tertiary" class="agrupar">
      <p class="break">{{chat.lastMessage}}</p>
      <ion-badge color="secondary" *ngIf="chat.newMessages && chat.newMessages!==0">{{chat.newMessages}}</ion-badge>
    </ion-text>
  </ion-label>
</ion-item>
