@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './colors.scss';
@import '~firebaseui/dist/firebaseui.css';

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h-100{
  height: 100vh;
}

a{
  text-decoration: none;
  color:var(--ion-color-secondary);
  font-size: 16px;
  font-weight: 500;
}

.fondo{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100vw;
  background-repeat: repeat;
  background-size: contain;
  background-image: url('./assets/fondo.jpg');
  top:0;
  left: 0;
  opacity: 0.2;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra{
  box-shadow: 0 0 6px #6B6363;
}

.label{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.scroll-y{
  display: flex;
}

.scroll{
  scroll-behavior: smooth;
}

.resaltar{
  background-color:#363600;
}

.center-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute{
  position:absolute;
}

.btn-upload{
  background: #ffffff61;
  border-radius: 1rem;
  padding: 10px;
  z-index: 99;
}

.z-99{
  z-index:99;
}

app-chat{
  background-color: #8e8e8e40;
}

.no-disponible::before{
  /*Solo se muestra en archivos rotos*/
  white-space: pre-wrap;
  position: absolute;
  color: #333;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-bottom: 0;
  border-radius: 5px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 16px;
  font-size: 17px;
  align-items: center;
  display: flex;
  text-align: center;
}

.truncar{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.reply-select{
  animation:fade 3s ease-out;
}

@keyframes fade {
  from {
    background-color: #87bcf3b8;
  }

  to {
    background-color: #87bcf300;
  }
}


.translucido{
  width: 13rem;
  height: 13rem;
}
