@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './colors.scss';
@import '~firebaseui/dist/firebaseui.css';

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h-100{
  height: 100vh;
}

a{
  text-decoration: none;
  color:var(--ion-color-secondary);
  font-size: 16px;
  font-weight: 500;
}

.fondo{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background: var(--fondo-color);
  div{
    background-repeat: repeat;
    background-size: contain;
    background-image: url(./assets/fondo.jpg);
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.07;
  }
}

.continue-btn{
  margin-bottom: 23px;
  text-transform: initial;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra{
  box-shadow: 0 0 6px #6B6363;
}

.label{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.scroll-y{
  display: flex;
}

.scroll{
  scroll-behavior: smooth;
}

.resaltar{
  background-color:#363600;
}

.center-child{
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute{
  position:absolute;
}

.btn-upload{
  background: #ffffff61;
  border-radius: 1rem;
  padding: 10px;
  z-index: 99;
}

.z-99{
  z-index:99;
}

app-chat{
  background-color: #8e8e8e40;
}

.no-disponible::before{
  /*Solo se muestra en archivos rotos*/
  white-space: pre-wrap;
  position: absolute;
  color: #333;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  border-bottom: 0;
  border-radius: 5px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 16px;
  font-size: 17px;
  align-items: center;
  display: flex;
  text-align: center;
}

.truncar{
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.reply-select{
  animation:fade 3s ease-out;
}

@keyframes fade {
  from {
    background-color: #87bcf3b8;
  }

  to {
    background-color: #87bcf300;
  }
}


.translucido{
  width: 13rem;
  height: 13rem;
}

.no-bg-color{
  background-color: transparent;
  --background: transparent;
}


/*****************************************************
	Custom styling example bellow.
*****************************************************/

.iti {
	display: block !important;
	margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: #c7cace;
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 244px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

@media screen and (max-width: 479px) {
	.iti .iti__country-list {
		width: 88.3vw;
	}
}

ngx-intl-tel-input input {
	height: 44px;
	margin-bottom: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
  background-color: var(--white);
	border-radius: 4px;
	font-size: 18px;
  width: 100%;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
  width: 100%;
  background-color: var(--white);
}

ngx-intl-tel-input input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}
