<ion-menu
  side="start"
  content-id="content"
>
  <ion-header>
    <ion-toolbar
      color="primary"
    >
      <ion-row class="ion-justify-content-center" style="position:relative">
        <img
          [src]="imgPath"
          alt="Imagen de perfil"
          class="loc_img-perfil"
        >
        <ion-button
          class="loc__btn-img"
          color="secondary"
          (click)="opcImg()"
        >
          <ion-icon name="camera-sharp" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-text
        class="ion-text-center "
      >
        <h6 class="ion-no-margin">{{user?.data.userName}}</h6>
        <h3></h3>
      </ion-text>

    </ion-toolbar>
  </ion-header>

  <ion-content
    color="light"
    padding
  >
    <ion-list>
      <ion-item>
        <ion-icon
          color="secondary"
          name="people-sharp"
          slot="start"
        ></ion-icon>
        <span color="dark">Crear grupo</span>
      </ion-item>
      <ion-item>
        <ion-icon
          color="secondary"
          slot="start"
          name="bookmark-sharp"></ion-icon>
          <span color="dark">Mensajes guardados</span>
      </ion-item>
      <ion-item>
        <ion-icon
          color="secondary"
          slot="start"
          name="heart-dislike-sharp"></ion-icon>
         <span color="dark">Usuarios bloqueados</span>
      </ion-item>
      <ion-item>
        <ion-icon
          color="secondary"
          slot="start"
          name="settings-sharp"></ion-icon>
        <span color="dark">Configuración</span>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon
          color="secondary"
          slot="start"
          name="log-out-outline"
        ></ion-icon>
        <span color="dark">Cerrar Sesión</span>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>
