<ion-menu
  side="start"
  content-id="content"
>
  <ion-header>
    <ion-toolbar
      color="primary"
      routerLink="/chat/profile"
    >
      <ion-row class="ion-justify-content-center" style="position:relative; margin-top:2rem;">
        <img
          [src]="imgPath"
          alt="Imagen de perfil"
          class="loc_img-perfil"
        >
      </ion-row>
      <ion-text
        class="ion-text-center "
      >
        <h6 class="ion-no-margin">{{user?.data.userName}}</h6>
        <h3></h3>
      </ion-text>

    </ion-toolbar>
  </ion-header>

  <ion-content
    color="light"
    padding
  >
    <ion-list>
      <ion-item disabled="true">
        <ion-icon
          color="secondary"
          name="people-sharp"
          slot="start"
        ></ion-icon>
        <span color="dark">{{'MenuComponent.CreateGroup' | translate}} <br/>
          <small>{{'MenuComponent.CoomingSoon' | translate}}</small>
        </span>
      </ion-item>
      <ion-item routerLink="/chat/saved-messages">
        <ion-icon
          color="secondary"
          slot="start"
          name="bookmark-sharp"
        ></ion-icon>
          <span color="dark">{{'Global.SavedMessages' | translate}}</span>
      </ion-item>
      <ion-item routerLink="/chat/blocked-users">
        <ion-icon
          color="secondary"
          slot="start"
          name="heart-dislike-sharp"></ion-icon>
         <span color="dark">{{'Global.BlockedUsers' | translate}}</span>
      </ion-item>
      <ion-item  routerLink="/chat/setting">
        <ion-icon
          color="secondary"
          slot="start"
          name="settings-sharp"></ion-icon>
        <span color="dark">{{'MenuComponent.Setting' | translate}}</span>
      </ion-item>
      <ion-item  routerLink="/chat/report">
        <ion-icon
          color="secondary"
          slot="start"
          name="bug"></ion-icon>
        <span color="dark">{{'ReportPage.Title' | translate}}</span>
      </ion-item>
      <span class="d-center">
        <a class="ion-padding" href="https://docs.google.com/document/d/1XHJjxROjaA0F-ZO1wfhMDtM6noHxYip2F9bjKsXfFFc/edit?usp=sharing">
          <small>{{'LoginPage.PrivacyPolicy2' | translate}}</small>
        </a>
      </span>
    </ion-list>
  </ion-content>
</ion-menu>
