<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <form
      [formGroup]="miFormulario"
      autocomplete="off"
      class="loc__form"
    >
      <ion-input
        type="search"
        [placeholder]="'SearchMessagePage.SearchMessage' | translate"
        formControlName="searchTxt"
      ></ion-input>
      <ion-icon
        name="close"
        *ngIf="searchTxt.value!==''"
        (click)="clearSearch()"
      ></ion-icon>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item
    *ngFor="let message of messages"
    detail="false"
    [routerLink]="'/chat/id/'+message.idChat"
    [queryParams]="{ id: message.id, search:search}"
  >
    <ion-label>
      <span class="agrupar">
        {{message.userSend}}
        <ion-text color="tertiary">{{message.timestamp | date: 'shortTime'}}</ion-text>
      </span>
      <ion-text color="tertiary" class="agrupar">
        <p>
          <span *ngIf="message.user===user.userName">Tú: </span>
          <span>{{message.message.substr(0,message.index)}}</span>
          <span class="bold">{{message.message.substr(message.index,searchTxt.value.length)}}</span>
          <span>{{message.message.substr(message.index+searchTxt.value.length)}}</span>
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
