<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button
      slot="start"
      defaultHref="/chat"
      text=""
      mode="md"
    ></ion-back-button>

    <form
      [formGroup]="miFormulario"
      autocomplete="off"
      class="loc__form"
    >
      <ion-input
        type="search"
        placeholder="Buscar mensaje"
        formControlName="searchTxt"
      ></ion-input>
      <ion-icon
        name="close"
        *ngIf="searchTxt.value!==''"
        (click)="clearSearch()"
      ></ion-icon>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
